﻿.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 140px;
}

.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
.popupPanal
{
	width: 600px;

}

.popup_Container {

	/*background-color:#fffeb2;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;*/
    box-shadow : none;
    border:none;
    background-color: #FFFFFF;
    border-radius:6px;
    background-clip:padding-box;
    outline:0;
}

.popup_Titlebar {
	background: url(Images/titlebar_bg.jpg);
	height: 40px;
    text-align:center;
    background: #FAFAFA;
   -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #e5e5e5;
}

.popup_Body
{
	/*padding:15px 15px 15px 15px;*/
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
	/*padding:20px;*/
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:Black;
}
.TitlebarRight 
{
	background:url(cross_icon_normal.png);
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}

.popup_Buttons
{
    height: 45px;
    text-align:center;
    background: #FAFAFA;
   -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top: 1px solid #e5e5e5;
}
.popup_Body_MES
{
	/*padding:15px 15px 15px 15px;*/
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
    height:100px;
    text-align:left;
    padding-left:15px;
	/*padding:20px;*/
}
.popup_Container_MES {

	/*background-color:#fffeb2;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;*/
    box-shadow : none;
    border:none;
    background-color: #FFFFFF;
    border-radius:6px;
    background-clip:padding-box;
    outline:0;
    height:203px;
   
}
.popup_Titlebar_MES {

	background: url(Images/titlebar_bg.jpg);
	height: 49px;
    text-align:left;
    padding:10px;
    background: #FAFAFA;
   -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #e5e5e5;
    color:#FFFFFF;
}
.TitlebarLeft _MES
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size:12px;
	color:#FFFFFF;
    text-transform: uppercase;
}
.TitlebarRight_MES
{
	background-position:right;
	background-repeat:no-repeat;
	height:15px;
	width:16px;
	float:right;
	cursor:pointer;
	margin-right:5px;
	margin-top:5px;
}
.popup_Buttons_MES
{
    height: 45px;
    text-align:right;
    padding-right :20px;
    background: #FAFAFA;
   -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top: 1px solid #e5e5e5;
    
    
}